Calculator/local.properties
Calculator/.idea/
Calculator/build/
local.properties
.idea/
.gradle/
build/
app/build/
Calculator/local.properties
Calculator/.idea/
Calculator/.gradle/
Calculator/build/
Calculator/app/build/
